
<input type="checkbox" [(ngModel)]="viewornot" /> subject 5
<div *ngIf="viewornot">


    <h1>angular HttpClient </h1>


<div class="container my-4">
  <h2 class="mb-4">Posts</h2>

  <div class="card mb-4">
    <div class="card-header">Add Post</div>
    <div class="card-body">
      <form (submit)="submitPost()" class="row g-3">
        <div class="col-md-6">
          <input
          [(ngModel)]="newPost.title"
            type="text"
            placeholder="Title"
            name="title"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-6">
          <input
          [(ngModel)]="newPost.body"
            type="text"
            placeholder="Body"
            name="body"
            class="form-control"
            required
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>

<ul *ngIf="posts.length > 0; else loading" class="list-group">
  <li *ngFor="let post of posts" class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <strong>{{ post.title }}</strong>
        <div class="text-muted small">{{ post.body }}</div>
      </div>
      <div>
        <button class="btn btn-sm btn-warning me-2">Edit</button>
        <button class="btn btn-sm btn-danger">Delete</button>
      </div>
    </div>
  </li>
</ul>

  <ng-template #loading>Loading Posts ...</ng-template>
</div>


</div>


